/*
*
* DNA: GRIDS
*
*/

// DONT TOUCH BELOW HERE
@width:(@pgWidth / @cols);
.width(@colNum: 1) {
	width: (@width * @colNum);
}
body {
	width: @pgWidth;
	margin: 0 auto;
}
.row {
	width: 100%;
	overflow: hidden;
	padding-bottom: .5em;

	// base column styles
	> [class*="col"] {
		display: inline-block;
		float: left;
		box-sizing: border-box;
		margin-bottom: -99999px;
		padding-bottom: 99999px;

		&.txt-col {
			padding-left: .5em;
			padding-top: .5em;
			padding-right: .5em;
		}

	}
	// clearing
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	// setting up the columns and width based on variables
	.loop (@colNum) when (@colNum > 0) {
		(~".col@{colNum}") {
			.width(@colNum);
		}
		.loop(@colNum - 1);
	}
	.loop (0) {}
	.loop (@cols);
}